.site-header {
  display: flex;
  align-items: center;

  .button {
    @include bp(max-width, $bp-medium) {
      svg {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }
}

.logo {
  margin-right: 15px;

  a {
    position: relative;
    display: block;
    border-bottom: 0;
    color: inherit;

    @include hover {
      color: inherit;
      opacity: .8;
    }
  }

  svg {
    position: absolute;
    top: -23px;
    left: 1px;
    width: 32px;
    margin-right: 5px;
    transform: rotate(10deg);
    stroke: $c-white;
    stroke-width: 2px;
    animation: logoIntro forwards .5s;
    z-index: 1;
  }

  span {
    color: $c-light-gray;
  }

  &__text--desktop {
    @include bp(max-width, $bp-medium) {
      display: none;
    }
  }

  &__text--mobile {
    @include bp(min-width, $bp-medium + 1) {
      display: none;
    }
  }
}

.search-form {
  position: relative;
  width: calc(100% - 110px);

  @include bp(min-width, $bp-medium + 1) {
    width: calc(100% - 330px);
  }

  input[type="search"] {
    height: 20px;
    width: calc(100% - 80px);
    padding: 18px 20px;
    padding-right: 60px; // offset for search button
    border: 2px solid $c-wild-sand;
    transition: all .25s ease-in-out;

    &:focus {
      border-color: $c-magento-orange;
      outline: 0;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
      }

      + button {
        color: $c-magento-orange;
      }
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 15px;
    padding: 0;
    color: $c-light-gray;
    background: none;
    border: 0;
    transform: translateY(-50%);
    transition: all .25s ease-in-out;

    @include hover {
      color: $c-magento-orange;
    }

    svg {
      height: 35px;
      width: 35px;

      * {
        stroke: currentColor;
      }
    }
  }
}

@keyframes logoIntro {
  from {
    opacity: 0;
    transform: rotate(10deg) translateY(-100%);
  }
  to {
    transform: rotate(10deg) translate(0);
    opacity: 1;
  }
}
