@charset "utf-8";

/*
  Breakpoints
*/
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;

$trim: 50px;
$trim-small: 20px;

/*
  Colors
*/
$c-magento-orange: #ef672f;
$c-wild-sand: #f6f6f6;
$c-alto: #dadada;
$c-scorpion: #5f5f5f;

$c-black: #000;
$c-white: #fff;

$c-background: $c-wild-sand;
$c-light-gray: $c-alto;
$c-body-text: $c-scorpion;

/*
  Includes
*/
@import 'normalize';

@import 'mixins';

body {
  font-size: 16px;
  color: $c-body-text;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  color: $c-black;
  font-family: 'Lora', serif;
  font-weight: 700;
}

// remove ios input border radius
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  appearance: none;
  border-radius: 0;
}

[aria-hidden="true"] {
  display: none;
}

a {
  text-decoration: none;
  color: $c-magento-orange;
  border-bottom: 2px solid currentColor;
  transition: all .25s ease-in-out;

  @include hover {
    color: $c-black;
  }

  &[target="_blank"] {
    cursor: alias;
  }
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: $trim-small;
  padding-right: $trim-small;

  @include bp(min-width, $bp-medium + 1) {
    padding-left: $trim;
    padding-right: $trim;
  }
}

.button {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-left: 15px;
  padding-right: 30px;
  padding-left: 30px;
  color: $c-black;
  background-color: $c-wild-sand;
  border-bottom: 0;
  transition: all .25s ease-in-out;

  @include hover {
    color: $c-magento-orange;
    background-color: darken(#f6f6f6, 2%);
  }

  svg {
    margin-right: 10px;

    * {
      fill: currentColor;
    }
  }
}

/* Snippets */
@import 'snippets';

/* Snippet */
@import 'snippet';

/* Cheatsheet */
@import 'cheatsheet';

/* Header */
@import 'header';

/* Footer */
@import 'footer';


@keyframes shiftFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-5px);
  }
}
