---
title: Magento Cheatsheet
---

<section class="collection--snippets">
  <div class="container">
    <div class="cheatsheet__container">
      <ul class="cheatsheet__sections accordions">
        <li>
          <h2 class="cheatsheet__section-title">Template Helpers</h2>
          <div class="cheatsheet__section-desc">
            Contents 1
          </div>
        </li>
        <li>
          <h2 class="cheatsheet__section-title">Backend Helpers</h2>
          <div class="cheatsheet__section-desc">
            Contents 2
          </div>
        </li>
        <li>
          <h2 class="cheatsheet__section-title">CMS Helpers</h2>
          <div class="cheatsheet__section-desc">
            Contents 3
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
