---
title: Welcome to MageFYI
---

<section class="collection--snippets">
  <div class="container">
    <div class="snippets">
      <article class="snippets__snippet">
        <a href="http://somethingdigital.com" target="_blank">
          <h2 class="snippets__title">Premium Magento Site Development</h2>
          <ul class="snippets__meta">
            <li class="snippets__sponsor">
              <span>Sponsor</span>
            </li>
          </ul>
        </a>
      </article>
      <article class="snippets__snippet">
        <a href="/snippet-detail.html">
          <h2 class="snippets__title">Check if customer is logged in</h2>
          <ul class="snippets__meta">
            <li class="snippets__meta__version">
              <span>Version</span>
              M1
            </li>
            <li class="snippets__meta__category">
              <span>Category</span>
              Frontend
            </li>
            <li class="snippets__meta__tags">
              <span>Views</span>
              12
            </li>
          </ul>
        </a>
      </article>
      <article class="snippets__snippet">
        <a href="/snippet-detail.html">
          <h2 class="snippets__title">Reference skin directory</h2>
          <ul class="snippets__meta">
            <li class="snippets__meta__version">
              <span>Version</span>
              M1
            </li>
            <li class="snippets__meta__category">
              <span>Category</span>
              Frontend
            </li>
            <li class="snippets__meta__tags">
              <span>Views</span>
              34
            </li>
          </ul>
        </a>
      </article>
      <article class="snippets__snippet">
        <a href="/snippet-detail.html">
          <h2 class="snippets__title">CMS Handles</h2>
          <ul class="snippets__meta">
            <li class="snippets__meta__version">
              <span>Version</span>
              M1
            </li>
            <li class="snippets__meta__category">
              <span>Category</span>
              Admin
            </li>
            <li class="snippets__meta__tags">
              <span>Views</span>
              7
            </li>
          </ul>
        </a>
      </article>
      <article class="snippets__snippet">
        <a href="/snippet-detail.html">
          <h2 class="snippets__title">Add Static Block to Template</h2>
          <ul class="snippets__meta">
            <li class="snippets__meta__version">
              <span>Version</span>
              M1
            </li>
            <li class="snippets__meta__category">
              <span>Category</span>
              Frontend
            </li>
            <li class="snippets__meta__tags">
              <span>Views</span>
              102
            </li>
          </ul>
        </a>
      </article>
    </div>
  </div>
</section>
