---
title: Snippet Detail Page
---

<section class="collection--snippets">
  <div class="container">
    <article class="snippet">
      <div class="snippet__info">
        <ul class="snippet__meta">
          <li class="snippet__meta__version">
            <span>Version</span>
            Magento 1
          </li>
          <li class="snippet__meta__category">
            <span>Category</span>
            Frontend
          </li>
          <li class="snippet__meta__tags">
            <span>Views</span>
            102
          </li>
        </ul>
      </div>
      <div class="snippet__code">
        <ul class="snippet__tags">
          <h3>Tags</h3>
          <li><a href="">Tag 1</a></li>
          <li><a href="">Tag 2</a></li>
          <li><a href="">Tag 3</a></li>
        </ul>
        <h2 class="snippet__title">How to Check if a user is logged in</h2>
        markdown code here
      </div>
    </article>
  </div>
</section>
